body {
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.header {
  height: 67px;
  background: #727272;
}

.footer {
  height: 67px;
  background: #727272;
}

.footer__description {
  margin: 0;
  padding: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.74);
}

main {
  position: relative;
  min-height: 882px;
  background-color: #F1F1F1;
}

.video {
  padding: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.video__left_panel {
  margin: 0 25px 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__left_panel button {
  margin-top: 14px;
  padding: 3px;
  width: 30px;
  height: 30px;
  background: #F1F1F1;
  border: 0.5px solid #535353;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s ease, border 0.2s ease;
  transition: background-color 0.2s ease, border 0.2s ease;
}
.video__left_panel button:hover {
  background-color: #335DF1;
  cursor: pointer;
  border: 0.5px solid #335DF1;
}
.video__left_panel button:hover svg path {
  fill: #fff;
}
.video__left_panel button:active {
  background-color: #1b40c8;
}
.video__left_panel__mixer {
  width: 30px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 5px;
}
.video__left_panel__mixer__range {
  width: 100px;
  margin: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  outline: none;
  cursor: pointer;
}
.video__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__show {
  width: 630px;
  height: 340px;
  margin: 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}
.video__show__clip {
  height: 340px;
}
.video__show__clip__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.video__show__clip__buttons button, .video__show__clip__buttons__play {
  padding: 0;
  margin-top: 10px;
  width: 33px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}
.video__show__clip__buttons button:hover, .video__show__clip__buttons__play:hover {
  outline: 1px solid #335DF1;
  border-radius: 5px;
  cursor: pointer;
}
.video__show__clip__buttons button:active, .video__show__clip__buttons__play:active {
  border: 1px solid #1b40c8;
}
.video__show__clip__buttons__play {
  margin-top: -33px;
}
.video__show__clip__time-line {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.video__show__clip__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__show__clip__arrows button {
  margin-left: 14px;
  margin-top: 14px;
  padding: 3px;
  width: 30px;
  height: 30px;
  background: #F1F1F1;
  border: 0.5px solid #535353;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s ease, border 0.2s ease;
  transition: background-color 0.2s ease, border 0.2s ease;
}
.video__show__clip__arrows button:hover {
  background-color: #335DF1;
  cursor: pointer;
  border: 0.5px solid #335DF1;
}
.video__show__clip__arrows button:hover svg path {
  fill: #fff;
}
.video__show__clip__arrows button:active {
  background-color: #1b40c8;
}
.video__right_panel {
  position: relative;
  margin: 0 0 45px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__right_panel__mixer {
  width: 30px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 5px;
}
.video__right_panel__mixer__range {
  width: 100px;
  margin: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
  background-color: #000;
}
.video__right_panel button {
  margin-top: 14px;
  padding: 3px;
  width: 30px;
  height: 30px;
  background: #F1F1F1;
  border: 0.5px solid #535353;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s ease, border 0.2s ease;
  transition: background-color 0.2s ease, border 0.2s ease;
}
.video__right_panel button:hover {
  background-color: #335DF1;
  cursor: pointer;
  border: 0.5px solid #335DF1;
}
.video__right_panel button:hover svg path {
  fill: #fff;
}
.video__right_panel button:active {
  background-color: #1b40c8;
}
.video__right_panel__sound {
  padding: 5px 3px 3px 5px !important;
}
.video__right_panel__size {
  position: absolute;
  left: 50px;
  width: 106px;
  height: 63px;
  padding: 9px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 5px;
}
.video__right_panel__size_h {
  margin: 0 0 17px 0;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #000;
}
.video__right_panel__size__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.video__right_panel__size__block > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.video__right_panel__size__block > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.video__right_panel__size__block > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.video__right_panel__size__block > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.video__right_panel__size__block__btn {
  padding: 0 !important;
  margin: 0 !important;
  width: 48px !important;
  height: 16px !important;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #000;
}
.video__right_panel__size__block__btn:hover {
  color: #fff;
}

.save {
  position: absolute;
  right: 50px;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.save_btn {
  margin-top: 14px;
  padding: 3px;
  width: 30px;
  height: 30px;
  background: #F1F1F1;
  border: 0.5px solid #535353;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s ease, border 0.2s ease;
  transition: background-color 0.2s ease, border 0.2s ease;
  width: 100px;
  height: 31px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.save_btn:hover {
  background-color: #335DF1;
  cursor: pointer;
  border: 0.5px solid #335DF1;
  color: #fff;
}
.save_btn:active {
  background: #1b40c8;
}
.save__block {
  width: 129px;
  height: 98px;
  margin-top: 14px;
  padding: 12px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 5px;
}
.save__block_h {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #000;
}
.save__block__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.save__block__list__elem {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.save__block__list__elem p {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #000;
}
.save__block__list__elem__str {
  width: 71px;
}
.save__block__list__elem:hover p {
  color: #335DF1;
}
.save__format {
  width: 119px;
  height: 36px;
  padding: 12px 15px;
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 5px;
}
.save__format__h {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #000;
}
.save__format__list {
  width: 110px;
  margin: 4px 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.save__format__list__elem {
  padding: 3px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #000;
}
.save__format__list__elem:hover {
  color: #335DF1;
  cursor: pointer;
}

.text-editor__block {
  position: absolute;
  left: 47px;
  width: 215px;
  height: 220px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.text-editor__block__font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.text-editor__block__font__h {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.text-editor__block__font__etc {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text-editor__block__font__etc__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text-editor__block__font__etc__side button {
  margin: 0;
  width: 27px;
  height: 27px;
  background: #F1F1F1;
  border: none;
}
.text-editor__block__font__etc__side button:hover {
  background: rgba(67, 68, 70, 0.3764705882);
  border: none;
}
.text-editor__block__font__etc__design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text-editor__block__font__etc__design button {
  margin: 0;
  width: 27px;
  height: 27px;
  background: #F1F1F1;
  border: none;
}
.text-editor__block__font__etc__design button:hover {
  background: rgba(67, 68, 70, 0.3764705882);
  border: none;
}
.text-editor__block__color {
  margin-top: 25px;
}
.text-editor__block__color__h {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.text-editor__block__color__txt {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.text-editor__block__color__txt__h {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.text-editor__block__color__back {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.text-editor__block__color__back__h {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.__select {
  position: relative;
  width: 205px;
  height: 28px;
  margin: 12px 0;
}
.__select[data-state=active] .__select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state=active] .__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}
.__select[data-state=active] .__select__content {
  opacity: 1;
}
.__select[data-state=active] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  background: #F1F1F1;
  cursor: pointer;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.__select__title::before, .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #333333;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}
.__select__title:hover {
  border-color: #335DF1;
}
.__select__title:hover::before, .__select__title:hover::after {
  background-color: #335DF1;
}

.__select__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% + 10px);
  background-color: #F1F1F1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;
}
.__select__input:checked + label {
  background-color: #dedede;
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 20px);
  height: 28px;
  max-height: 0;
  padding: 0 10px 0 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.__select__label + input + .__select__label {
  border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}
.__select__label:hover {
  background-color: rgba(67, 68, 70, 0.3764705882) !important;
  color: #ffffff;
}

.__select2 {
  position: relative;
  width: 45px;
  height: 28px;
}
.__select2[data-state=active] .__select__title2::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}
.__select2[data-state=active] .__select__title2::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}
.__select2[data-state=active] .__select__content2 {
  opacity: 1;
}
.__select2[data-state=active] .__select__label2 + .__select__input2 + .__select__label2 {
  max-height: 40px;
  border-top-width: 1px;
}

.__select__title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 4px;
  border-radius: 5px;
  border: none;
  background: #F1F1F1;
  cursor: pointer;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.__select__title2::before, .__select__title2::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 4px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #333333;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title2::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}
.__select__title2:hover {
  border-color: #335DF1;
}
.__select__title2:hover::before, .__select__title2:hover::after {
  background-color: #335DF1;
}

.__select__content2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% + 10px);
  background-color: #F1F1F1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input2 {
  display: none;
}
.__select__input2:checked + label {
  background-color: #dedede;
}
.__select__input2:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 20px);
  height: 28px;
  max-height: 0;
  padding: 0 10px 0 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.__select__label2 + input + .__select__label2 {
  border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}
.__select__label2:hover {
  background-color: rgba(67, 68, 70, 0.3764705882) !important;
  color: #ffffff;
}

.not_active {
  display: none;
}