body {
    margin: 0 auto;
    width: 100%;
}

.container {
    width: 1760px;
    margin: 0 auto;
}

.header {
    height: 67px;
    background: #313131;
}

.footer {
    height: 67px;
    background: #9b9b9b;
}

.footer__description {
    margin: 0;
    padding: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.74);
}

main {
    position: relative;
    min-height: 882px;
    background-color: #313131;
}

.video {
    padding: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.video__left_panel {
    margin: 0 25px 65px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.video__left_panel button {
    margin-top: 14px;
    padding: 3px;
    width: 50px;
    height: 50px;
    background: #4f4f4f;
    border: 1.5px solid #313131;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.video__left_panel button svg path {
    fill: #fff;
}
.video__left_panel button:hover {
    background-color: #335DF1;
    cursor: pointer;
    border: 0.5px solid #335DF1;
}
.video__left_panel button:active {
    border: 1px solid #313131;
    background-color: #1737a9;
}
.video__left_panel__mixer {
    width: 30px;
    height: 116px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #9b9b9b;
    border-radius: 5px;
}
.video__left_panel__mixer__range {
    width: 100px;
    margin: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    outline: none;
    cursor: pointer;
}
.video__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.video__controls {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.video__show {
    width: 720px;
    height: 405px;
    margin: 40px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
}
.video__show__clip {

}
.video__show__clip__buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.video__show__clip__buttons button, .video__show__clip__buttons__play {
    padding: 0;
    margin-top: 10px;
    width: 50px;
    height: 35px;
    padding-left: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    background: #616161;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.video__show__clip__buttons button svg path, .video__show__clip__buttons__play svg path {
    fill: #fff;
}
.video__show__clip__buttons button:hover, .video__show__clip__buttons__play:hover {
    outline: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
.video__show__clip__buttons button:active, .video__show__clip__buttons__play:active {
    border: 1.5px solid #fff;
}
.video__show__clip__buttons__play {
    margin-top: -33px;
}
.video__show__clip__time-line {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
}
.video__show__clip__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.video__show__clip__arrows button {
    margin-left: 14px;
    height: 35px !important;
}
.video__right_panel {
    position: relative;
    margin: 0 0 65px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.video__right_panel__mixer {
    width: 30px;
    height: 116px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #9b9b9b;
    border-radius: 5px;
}
.video__right_panel__mixer__range {
    width: 100px;
    margin: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    cursor: pointer;
}
.video__right_panel__delete svg path {
    fill: #fff;
}
.video__right_panel button {
    margin-top: 14px;
    padding: 3px;
    width: 50px;
    height: 50px;
    background: #4f4f4f;
    border: 1.5px solid #313131;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.video__right_panel button:hover {
    background-color: #335DF1;
    cursor: pointer;
    border: 0.5px solid #335DF1;
}
.video__right_panel button:active {
    border: 1px solid #313131;
    background-color: #1737a9;
}
.video__right_panel__cut {
    border: none !important;
}
.video__right_panel__cut svg path {
    fill: #9b9b9b;
}
.video__right_panel__sound {
    padding: 5px 3px 3px 5px !important;
    border: none !important;
}
.video__right_panel__sound svg path {
    fill: #9b9b9b;
}
.video__right_panel__size {
    position: absolute;
    left: 70px;
    width: 156px;
    height: 93px;
    padding: 9px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #4f4f4f;
    border-radius: 5px;
}
.video__right_panel__size_h {
    margin: 0 0 17px 0;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
}
.video__right_panel__size__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 15px 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.video__right_panel__size__block > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.video__right_panel__size__block > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.video__right_panel__size__block > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.video__right_panel__size__block > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.video__right_panel__size__block__btn {
    padding: 0 !important;
    margin: 0 !important;
    width: 72px !important;
    height: 26px !important;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.save {
    position: absolute;
    right: 50px;
    top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.save_btn {
    margin-top: 14px;
    padding: 3px;
    width: 50px;
    height: 50px;
    background: #4f4f4f;
    border: 1.5px solid #313131;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    width: 150px;
    height: 50px;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    color: #fff;
}
.save_btn:hover {
    background-color: #335DF1;
    cursor: pointer;
    border: 0.5px solid #335DF1;
}
.save_btn:active {
    border: 1px solid #313131;
    background-color: #1737a9;
}
.save__block {
    width: 160px;
    height: 105px;
    margin-top: 14px;
    padding: 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #4f4f4f;
    border-radius: 5px;
}
.save__block_h {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
}
.save__block__list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.save__block__list__elem {
    width: 100%;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.save__block__list__elem p {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #fff;
    color: #9b9b9b;
}
.save__block__list__elem__str {
    width: 71px;
}
.save__block__list__elem:hover p {
    color: #fff;
}
.save__format {
    width: 150px;
    height: 56px;
    padding: 12px 15px;
    margin-top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #4f4f4f;
    border-radius: 5px;
}
.save__format__h {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
}
.save__format__list {
    width: 100%;
    margin: 4px 0 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}
.save__format__list__elem {
    padding: 3px;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    color: #fff;
    color: #9b9b9b;
}
.save__format__list__elem:hover {
    color: #fff;
    cursor: pointer;
}

.text-editor__block {
    position: absolute;
    left: 67px;
    width: 215px;
    height: 220px;
    background: #4f4f4f;
    border-radius: 5px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.text-editor__block__font {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.text-editor__block__font__h {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
}
.text-editor__block__font__etc {
    width: 215px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.text-editor__block__font__etc__side {
    margin-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.text-editor__block__font__etc__side__1 {
    border-radius: 5px 0 0 5px !important;
}
.text-editor__block__font__etc__side__2 {
    border-radius: 0 !important;
}
.text-editor__block__font__etc__side__3 {
    border-radius: 0 5px 5px 0 !important;
}
.text-editor__block__font__etc__side button {
    margin: 0;
    width: 29px;
    height: 29px;
    margin: 1px;
    background: #313131;
    border: none;
}
.text-editor__block__font__etc__side button:hover {
    background: #9b9b9b;
    border: none;
}
.text-editor__block__font__etc__side button svg path {
    fill: #fff;
}
.text-editor__block__font__etc__design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.text-editor__block__font__etc__design__B {
    border-radius: 5px 0 0 5px !important;
}
.text-editor__block__font__etc__design__I {
    border-radius: 0 5px 5px 0 !important;
}
.text-editor__block__font__etc__design button {
    margin: 0;
    width: 29px;
    height: 29px;
    margin: 1px;
    background: #313131;
    border: none;
}
.text-editor__block__font__etc__design button:hover {
    background: #9b9b9b;
    border: none;
}
.text-editor__block__font__etc__design button svg path {
    fill: #fff;
}
.text-editor__block__color {
    margin-top: 25px;
}
.text-editor__block__color__h {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
}
.text-editor__block__color__txt {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.text-editor__block__color__txt__h {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.text-editor__block__color__back {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.text-editor__block__color__back__h {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.__select {
    position: relative;
    width: 205px;
    height: 28px;
    margin: 12px 0;
}
.__select[data-state=active] .__select__title::before {
    -webkit-transform: translate(-3px, -50%) rotate(-45deg);
    transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state=active] .__select__title::after {
    -webkit-transform: translate(3px, -50%) rotate(45deg);
    transform: translate(3px, -50%) rotate(45deg);
}
.__select[data-state=active] .__select__content {
    opacity: 1;
}
.__select[data-state=active] .__select__label + .__select__input + .__select__label {
    max-height: 40px;
    border-top-width: 1px;
}

.__select__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    background: #313131;
    cursor: pointer;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.__select__title::before, .__select__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 6px;
    display: block;
    width: 10px;
    height: 2px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #9b9b9b;
    -webkit-transform: translate(-3px, -50%) rotate(45deg);
    transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title::after {
    -webkit-transform: translate(3px, -50%) rotate(-45deg);
    transform: translate(3px, -50%) rotate(-45deg);
}
.__select__title:hover {
    border-color: #fff;
}
.__select__title:hover::before, .__select__title:hover::after {
    background-color: #fff;
}

.__select__content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% + 10px);
    background-color: #313131;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}

.__select__input {
    display: none;
}
.__select__input:checked + label {
    background-color: #313131;
}
.__select__input:disabled + label {
    opacity: 0.6;
    pointer-events: none;
}

.__select__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% - 20px);
    height: 28px;
    max-height: 0;
    padding: 0 10px 0 10px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.__select__label + input + .__select__label {
    border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}
.__select__label:hover {
    background-color: rgba(67, 68, 70, 0.9960784314) !important;
    color: #ffffff;
}

.__select2 {
    position: relative;
    width: 45px;
    height: 28px;
}
.__select2[data-state=active] .__select__title2::before {
    -webkit-transform: translate(-3px, -50%) rotate(-45deg);
    transform: translate(-3px, -50%) rotate(-45deg);
}
.__select2[data-state=active] .__select__title2::after {
    -webkit-transform: translate(3px, -50%) rotate(45deg);
    transform: translate(3px, -50%) rotate(45deg);
}
.__select2[data-state=active] .__select__content2 {
    opacity: 1;
}
.__select2[data-state=active] .__select__label2 + .__select__input2 + .__select__label2 {
    max-height: 40px;
    border-top-width: 1px;
}

.__select__title2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 6px;
    border-radius: 5px;
    border: none;
    background: #313131;
    cursor: pointer;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.__select__title2::before, .__select__title2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    display: block;
    width: 10px;
    height: 2px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #9b9b9b;
    -webkit-transform: translate(-3px, -50%) rotate(45deg);
    transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title2::after {
    -webkit-transform: translate(3px, -50%) rotate(-45deg);
    transform: translate(3px, -50%) rotate(-45deg);
}
.__select__title2:hover {
    border-color: #fff;
}
.__select__title2:hover::before, .__select__title2:hover::after {
    background-color: #fff;
}

.__select__content2 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% + 5px);
    background-color: #313131;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}

.__select__input2 {
    display: none;
}
.__select__input2:checked + label {
    background-color: #313131;
}
.__select__input2:disabled + label {
    opacity: 0.6;
    pointer-events: none;
}

.__select__label2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% - 20px);
    height: 28px;
    max-height: 0;
    padding: 0 10px 0 10px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.__select__label2 + input + .__select__label2 {
    border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}
.__select__label2:hover {
    background-color: #434446 !important;
    color: #ffffff;
}

.not_active {
    display: none;
}

button[data-title]:hover::after {
    opacity: 1;
    -webkit-transition: all 0.2s ease 0.5s;
    transition: all 0.2s ease 0.5s;
    visibility: visible;
    display: block;
}

button[data-title]::after {
    position: absolute;
    content: attr(data-title);
    position: absolute;
    left: 50%;
    top: -32px;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 7px;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #9b9b9b;
    opacity: 0;
    pointer-events: none;
    display: none;
}

[data-title] {
    position: relative;
}