body {
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.header {
  height: 67px;
  background: #727272;
}

.open-file__head {
  margin: 56px auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}

#drop-area {
  width: 734px;
  height: 119px;
  margin: 0 auto 107px;
  padding: 160px 0 130px;
  background: #262626;
}
#drop-area.highlight {
  border-color: purple;
}
.button {
  width: 270px;
  height: 75px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  background: #335DF1;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background: #1b40c8;
}
#fileElem {
  display: none;
}

.description {
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.description__p {
  margin: 0 0 0 7px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer {
  height: 67px;
  background: #727272;
}
.footer__description {
  margin: 0;
  padding: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.74);
}
